<div class="page-header">
    <h3>File Manager: built with Node.js & Express</h3>
</div>

You can upload any text file (**.txt) using the 'File Upload' option, or view and/or download any .txt files you have uploaded using the 'Uploaded Files' option.
